* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-primary: #15505a;
	--color-secondary: #cff0f8;
	--color-tertiary: #2c99f1;
	--color-text: #faebd7;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 62.5%;
}

body {
	background-color: var(--color-primary);
	color: var(--color-text);
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	line-height: 1.3;
	text-align: center;
}

h1 {
	margin-bottom: 5rem;
	text-transform: uppercase;
}

:is(input[type="search"], input[type="text"]) {
	appearance: none;
	border: none;
	border-radius: 0.5rem;
	display: inline-block;
	font-family: inherit;
	font-size: inherit;
	padding: 1.2rem;
}

input[type="checkbox"] {
	cursor: pointer;
	display: inline-block;
	width: 2rem;
}

input[type="checkbox"]:hover {
	background-color: var(--color-tertiary);
}

input:focus {
	background-color: var(--color-secondary);
	outline: none;
}

ul {
	display: inline-block;
	list-style-type: none;
	margin: 5rem 0;
	text-align: left;
}

li {
	border: 1px solid var(--color-secondary);
	display: block;
	padding: 1.5rem;

	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: flex-start;
}

li:first-of-type {
	border-top-right-radius: 0.5rem;
	border-top-left-radius: 0.5rem;
}

li:last-of-type {
	border-bottom-right-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}

:not(li:last-of-type) {
	border-bottom: none;
}

span {
	display: inline-block;
	padding-left: 1.5rem;
}

button {
	appearance: none;
	background-color: var(--color-tertiary);
	border: none;
	border-radius: 10rem;
	box-shadow: 0 0.5rem 0.2rem rgba(250, 250, 250, 0.4);
	color: inherit;
	cursor: pointer;
	display: block;
	font-family: inherit;
	font-size: inherit;
	margin: 2rem auto;
	padding: 1.5rem 2rem;
	width: 30rem;

	transition: transform 100ms ease-in;
}

button:active {
	box-shadow: 0 0.2rem 0 rgba(250, 250, 250, 0.4);
	transform: translateY(0.3rem);
	transition: all 100ms ease-out;
}

button:focus {
	border: 1px solid var(--color-secondary);
	outline: none;
}

.container {
	margin: 9rem auto 0;
	padding: 0 20rem;
	width: 100%;
}

.filter {
	display: none;
}

:is(input, ul) {
	width: 55rem;
}

:is(li:hover, button:hover) {
	background-color: var(--color-secondary);
	color: var(--color-primary);
}
